// .container {
//   display: flex;
//   flex-direction: row;

//   .row {
//     margin: 20px 0 0 30px;
//     border: 1px solid black;
//     width: 50%;
//     height: 40%;
//     padding: 30px;
//   }

//   .row2 {
//     margin: 20px 0 0 30px;
//     border: 1px solid black;
//     width: 50%;
//     height: 40%;
//     padding: 30px;
//   }
// }
.container-fluid {
  margin-left: 50px;

  h1 {
    font-size: 25px;
  }

  #btn {
    margin-left: 20px;
  }

  .navlink {
    margin-left: 80%;
  }
}
