.container {
  display: flex;
  flex-direction: row;

  .row {
    margin: 20px 0 0 30px;
    border: 1px solid black;
    width: 50%;
    height: 40%;
    padding: 30px;
  }

  .row2 {
    margin: 20px 0 0 30px;
    border: 1px solid black;
    width: 50%;
    height: 40%;
    padding: 30px;
  }
}
