<div class="container">
  <div class="row">
    <h3 class="text-center mt-4">Reusable Form Component</h3>
    <div class="col-sm-10">
      <form [formGroup]="form" (ngSubmit)="Submit()">
        <ng-container *ngFor="let inputField of inputFieldControl">
          <app-input-field
            [control]="inputField.key"
            [type]="inputField.type"
            [placeholder]="inputField.placeholder"
            [label]="inputField.lable"
            [required]="true"
          >
          </app-input-field>
        </ng-container>

        <ng-container *ngFor="let item of radioValue">
          <app-radio-button
            [control]="item.key"
            [value]="item.value"
            [label]="item.name"
          >
          </app-radio-button>
        </ng-container>

        <app-select-option
          [control]="'select'"
          [options]="options"
          [label]="'Select an option'"
        >
        </app-select-option>

        <!-- <app-checbox
          [control]="form.get('checkbox')"
          [label]="'Agree to terms and conditions'"
        >
        </app-checbox> -->
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <div class="col-sm-4">
      {{ form.value | json }}
    </div>
  </div>
  <div class="row2">
    <app-table [data]="data" [columns]="columns"></app-table>
    <div class="row3">
      {{ form.value | json }}
    </div>
  </div>
  <app-table [data]="data" [columns]="columns"></app-table>
</div>
