<div class="container mt-3">
  <div class="mt-4 p-5 bg-secondary text-white rounded">
    <h3 class="text-center">Reactive Form Reusable Component</h3>
    <p>
      We create Html Form all element Reusable Component and use Reactive Form
      Module and assign Formcontrol Name Dynamically and did two different
      method of use reusable component,also created Table reusable component
      <strong routerLink="reusable">Method-1</strong> &&
      <strong routerLink="input">Method-2</strong>.
    </p>
  </div>
</div>
